#contact {
    border: 1px solid $service-item;
    overflow: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: .875rem;
    h2 {
        margin-top: 0;
        background: $service-item;
        padding: 5px 10px;
        span {
            margin-right: 10px;
        }
    }
    .form-group {
        label {
            padding-top: 5px;
        }
    }
}
