/* FACEBOOK LIKE */

.fb_iframe_widget {
    display: block !important;
    margin: 10px 0 10px 10px;
}

#gis img,
#multimeter img {
    position: relative;
    transition: all .6s ease;
}

#gis img:hover,
#multimeter img:hover,
{
    transform: scale(1.2) rotate(0deg);
}

.wpp-post-title {
    text-transform: capitalize;
}


/* SLICK SLIDER */

.slick-image-slide,
.slide-wrap {
    @media only screen and (max-width: 40.0625em) {
        height: auto !important;
    }
}

.wpsisac-slick-slider.design-1 .slick-image-slide img {
    @media only screen and (max-width: 40.0625em) {
        height: 100% !important;
        width: 100% !important;
    }
}

.wpsisac-slick-slider.design-1 .slick-arrow {
    top: 30% !important;
}

.wpsisac-slick-slider.design-1 .slick-prev {
    left: 10px !important;
}

.wpsisac-slick-slider.design-1 .slick-next {
    right: 10px !important;
}

.wpsisac-slick-carousal.design-6 .slick-arrow {
    top: 20% !important;
}

.wpsisac-slick-slider button.slick-prev,
.wpsisac-slick-slider button.slick-prev:hover,
.wpsisac-slick-slider button.slick-prev:focus {
    background: url('../img/dichvu/left-arrow.png') center center no-repeat !important;
}

.wpsisac-slick-slider button.slick-next,
.wpsisac-slick-slider button.slick-next:hover,
.wpsisac-slick-slider button.slick-next:focus {
    background: url('../img/dichvu/right-arrow.png') center center no-repeat !important;
}


/* Layer slider */

.ls-v6 .ls-nav-prev::after,
.ls-v6 .ls-nav-next::after {
    border: none !important;
    border-radius: none;
}

.ls-nav-prev {
    background: url('../img/banner/left-arrow.png') center center no-repeat !important;
    &:hover {
        transform: none !important;
    }
}

.ls-nav-next {
    background: url('../img/banner/right-arrow.png') center center no-repeat !important;
    &:hover {
        transform: none !important;
    }
}


/* WP POST CAROUSEL */

.wp-posts-carousel-container {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    &:hover {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
}

.wp-posts-carousel-title {
    font-size: .875rem !important;
    a {
        color: #333 !important;
        font-weight: 600;
        &:hover {
            color: $main_color;
        }
    }
}

.compact-theme.wp-posts-carousel {
    margin-top: -58px;
    .wp-posts-carousel-slide {
        padding-top: 55px !important;
    }
    .wp-posts-carousel-title {
        margin-top: 10px;
        a {
            text-transform: capitalize;
        }
    }
    .wp-posts-carousel-image img {
        width: 100% !important;
    }
    .owl-controls .owl-nav {
        div {
            top: 12px !important;
        }
        .owl-prev {
            right: 45px !important;
        }
    }
    .owl-controls .owl-nav div {
        padding: 0px 14px 0 10px !important;
        background-color: #ecf0f1 !important;
        color: #a0aaab !important;
        border: none !important;
        transition: none !important;
        &:hover {
            background-color: #4765a0 !important;
            color: #fff !important;
        }
    }
}

.light-theme {
    .wp-posts-carousel-title {
        margin-top: 0px;
        a {
            text-transform: capitalize;
            color: #13469b !important;
        }
    }
    &.wp-posts-carousel {
        overflow: visible !important;
    }
    .owl-controls .owl-nav .owl-next {
        opacity: 1 !important;
        background: url('../img/header/right-arrow.png') center center no-repeat !important;
        right: -50px !important;
    }
    .owl-controls .owl-nav .owl-prev {
        opacity: 1 !important;
        background: url('../img/header/left-arrow.png') center center no-repeat !important;
        left: -50px !important;
    }
    .owl-controls .owl-nav div {
        border: none !important;
        width: 35px !important;
        height: 55px !important
    }
    &.wp-posts-carousel .owl-nav div::before {
        content: '' !important;
    }
}

#partner {
    .light-theme {
        .owl-item .wp-posts-carousel-image {
            min-height: 130px;
            position: relative;
            a {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
        }
    }
}

#gallery {
    .light-theme {
        .owl-controls .owl-nav .owl-next {
            opacity: 1 !important;
            background: url('../img/dichvu/right-arrow.png') center center no-repeat !important;
            right: 0 !important;
            top: 0% !important;
        }
        .wp-posts-carousel-slide {
            margin-left: 0 !important;
            width: 100%;
            padding: 0;
        }
        .wp-posts-carousel-image {
            padding-top: 0 !important;
            img {
                width: 100% !important;
            }
        }
        .owl-controls .owl-nav .owl-prev {
            opacity: 1 !important;
            background: url('../img/dichvu/left-arrow.png') center center no-repeat !important;
            left: 0 !important;
            top: 0% !important;
        }
        .wp-posts-carousel-details {
            min-height: 60px;
            padding-bottom: 0 !important;
            .wp-posts-carousel-title {
                margin-top: 10px !important;
            }
        }
    }
}
