#detail {
    font-size: 0.875rem;
    time {
        color: #d0d4d7;
        margin-bottom: 10px;
    }
    #news_detail {
        h2 {
            text-transform: uppercase;
            font-size: .875rem;
            background: url('../img/noibat/heading-bg.png') no-repeat;
            border-bottom: 1px solid $service-item;
            padding: 6px 0 4px 30px
        }
        h3 {
            font-size: .875rem;
            text-transform: uppercase;
            font-weight: bold;
            color: #000;
        }
        figure {
            text-align: center;
            margin-top: 20px;
        }
    }
}
