/*=====  FOOTER  ======*/

footer {
    background-color: #3498db;
    color: white;
    font-size: 0.875rem;
    h2 {
        color: white;
        font-size: 1.125rem;
    }
    span,
    i.fa {
        margin-right: 5px;
    }
    table {
        width: 80%;
        margin: 0 auto;
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
    .about {
        h3 {
            font-size: 1.625rem;
        }
    }
    .statistic {
        h2 {
            @media (max-width: 768px) {
                text-align: left !important;
            }
        }
    }
    .info {
        ul {
            margin-bottom: 20px;
        }
        ul li {
            list-style-type: none;
            width: 15%;
        }
    }
    .copyright {
        font-size: .75rem;
        background-color: #3498db;
        /* #1e1e1e */
        color: white;
        text-align: center;
        @media (max-width: 768px) {
            margin-top: 15px;
        }
        margin-top: 25px;
        p {
            margin-bottom: 0;
        }
    }
}
