#img-gallery {
    .col-sm-4 {
        margin-bottom: 20px;
        .gallery-item {
            width: 80%;
            margin: 0 auto;
            padding: 10px;
            transition: all .3s ease;
            background-color: $service-item;
            .title {
                font-weight: 700;
                font-size: .875rem;
                color: #333;
                text-transform: capitalize;
                text-align: center;
            }
            img {
                min-width: 100%;
            }
            &:hover {
                border-color: $main_color;
                .title {
                    color: $main_color;
                }
            }
        }
    }
}
