header {
    .list-icon {
        ul {
            text-align: right;
            margin: 0;
            @media (max-width: 768px) {
                margin: 15px 0 0;
                text-align: justify;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                }
            }
            li {
                &:hover {
                    filter: grayscale(100%);
                }
                display: inline-block;
                position: relative;
                @media (min-width: 768px) {
                    margin-right: 30px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .navbar-form {
            margin-right: 0;
            padding: 0;
            width: 40%;
            @media (max-width: 768px) {
                width: 100% !important;
                margin: -15px auto 5px;
            }
            .form-group {
                width: 100%;
                position: relative;
                .form-control {
                    width: 100%;
                }
            }
            img {
                position: absolute;
                top: 24%;
                transform: translateX(-50%);
                right: 0;
            }
        }
    }
    .navbar-default {
        margin-top: 10px;
        background-color: $service-item;
        border-color: transparent;
        .navbar-header {
            div {
                display: inline-block;
                margin: 15px 0 0 15px;
                font-weight: 600;
            }
        }
        .navbar-collapse {
            padding-left: 18px;
            @media (min-width: 480px) {
                padding: 0;
            }
            li a img {
                margin-top: -2px;
            }
            ul.navbar-nav {
                @media (max-width: 768px) {
                    padding-left: 20px;
                }
                > li {
                    position: relative;
                    @media (max-width: 768px) {
                        border-bottom: 1px solid #33b7a5;
                        &:first-child,
                        &:last-child {
                            border-bottom: 1px solid transparent;
                        }
                        &.dropdown:after {
                            content: "\f0dd";
                            font-family: 'fontawesome';
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            position: absolute;
                            top: 10px;
                            right: 20px;
                        }
                    }
                    > a {
                        display: inline-block;
                        max-width: 100%;
                        font-size: 0.875rem;
                        font-weight: bold;
                        padding: 15px;
                        color: #333;
                        background-color: transparent;
                        border-top: 1px solid transparent;
                        &:hover {
                            background-color: $main_color;
                            border-top: 1px solid #e67e22;
                            color: white;
                        }
                    }
                }
                .dropdown-menu {
                    margin-top: -5px;
                    @media (max-width: 768px) {
                        padding-left: 30px;
                    }
                    li {
                        &:last-child a {
                            border: none;
                        }
                        a {
                            font-size: .8125rem;
                            @media (max-width: 768px) {
                                padding-left: 0;
                            }
                            border-bottom: 1px solid black;
                            margin: 0 5px;
                            padding: 8px 10px;
                            &:hover,
                            &:active,
                            &:focus {
                                background-color: $main_color;
                            }
                        }
                    }
                }
            }
        }
    }
}
