#home {
    #outstanding {
        &.container-fluid {
            padding: 0;
        }
    }
    .hot-line {
        h2 {
            margin-bottom: 6px;
            padding-top: 4px;
        }
    }
    /*=====  MAIN CONTENT  ======*/
    #main-content {
        /*=====  SERVICE  ======*/
        #service {
            font-size: 0.875rem;
            h2 {
                background: $service-item;
                padding: 5px 5px 0 5px;
            }
            span {
                margin-right: 10px;
            }
            .header {
                background-color: $service-item;
            }
            .service-item {
                background-color: transparent;
                .col-sm-12 {
                    background-color: $service-item;
                    &:hover {
                        background-color: $main_color;
                    }
                }
            }
            /*=====  Search info form  ======*/
            #search-info-form {
                margin: 20px 0;
                color: white;
                h2 {
                    text-align: center;
                    padding: 15px 0;
                    margin: 0;
                }
                .service-form {
                    padding-bottom: 30px;
                    background: $main_color;
                    label.col-sm-4 {
                        padding-right: 0;
                    }
                    .form-control {
                        border-radius: 10px;
                    }
                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .seminar,
        .project {
            h2 {
                font-size: 15px;
            }
            .most-viewed-item a:first-child {
                float: left;
            }
        }
        /*=====  Saving water  ======*/
        #saving {
            margin: 20px 0;
        }
        .panel {
            border: 1px solid $service-item;
            .panel-heading {
                background-color: $service-item;
                padding-left: 0;
                padding-right: 0;
                .panel-title {
                    padding: 5px 5px 0 5px;
                    span {
                        margin-right: 10px;
                    }
                    @media (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }
                .panel-tabs {
                    float: none;
                    bottom: 0;
                    @media (min-width: 1200px) {
                        float: right !important;
                        position: relative;
                        bottom: 30px;
                        clear: both;
                    }
                    & > li {
                        float: left;
                        margin-bottom: -1px;
                        margin-right: 20px;
                        & > a {
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 0.8125rem;
                            padding: 16px 5px;
                            margin-right: 2px;
                            margin-top: -5px;
                            line-height: .85;
                            border: 1px solid transparent;
                            color: #333;
                            &:hover {
                                color: #fff;
                                background-color: transparent;
                            }
                        }
                        &.active > a {
                            background-color: rgb(127, 127, 127);
                            border-radius: 0;
                        }
                    }
                }
            }
            .tab-content {
                padding-left: 30px;
                @media (max-width: 480px) {
                    padding-left: 0;
                }
                a {
                    font-size: .875rem;
                    text-transform: capitalize;
                }
                & > .active {
                    display: inline-block;
                    margin-top: -10px;
                    width: 100%;
                }
                iframe {
                    @media (max-width: 992px) {
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
            .pagination {
                float: right;
                & > li > span {
                    padding-bottom: 4px;
                }
            }
        }
    }
    /*=====  SIDEBAR  ======*/
    aside {
        & > div {
            margin-top: 20px;
        }
        /*=====  Payment  ======*/
        #payment {
            a {
                color: #e7832a;
                font-size: 0.8125rem;
            }
            ul {
                padding-left: 5px;
                & > li:before {
                    content: "\2013";
                    padding-right: 8px;
                }
            }
        }
        #gallery .gallery-item {
            a {
                color: #333;
                font-size: .875rem;
                &:hover {
                    color: $main_color;
                }
            }
        }
    }
}


/*=====  PARTNER  ======*/

#partner {
    margin-top: 40px;
    position: relative;
    z-index: 11;
    background-color: #ecf0f1;
    padding: 0 40px;
    box-shadow: 0px 5px 5px rgba(29, 28, 28, 0.2);
    h2 {
        margin-top: 0;
        font-size: 0.9375rem;
        text-align: center;
        background: url('../img/partner/heading-bg.png') no-repeat center center;
        position: relative;
        top: -10px;
        padding: 5px;
    }
}
