#intro {
    .breadcrumb {
        margin-top: -20px;
        margin-bottom: 0;
        background: none;
        & > li a,
        & > li.active {
            color: $main_color;
        }
    }
    font-size: 0.875rem;
    h2 {
        span {
            margin-right: 10px;
        }
    }
    #service {
        border: 0 1px 1px solid $service-item;
        h2 {
            background: $service-item;
            padding: 5px 5px 0 5px;
        }
    }
    /*=====  COMPANY INTRO  ======*/
    #company-intro {
        margin-top: 20px;
        margin-bottom: 350px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        border: 1px solid $service-item;
        h2 {
            margin-top: 0;
            padding: 10px;
            background: $service-item;
        }
        .company-intro-body {
            padding-left: 10px;
            img {
                display: block;
                margin: 30px auto;
            }
            .company-info {
                font-weight: bold;
                margin-bottom: 10px;
            }
            li + li {
                margin-top: 15px;
            }
        }
    } //end company intro
    /*=====   SIDEBAR ======*/
    #intro-sidebar {
        margin-top: 20px;
        .service-item + .service-item {
            margin-top: 5px;
        }
        #sideMenu {
            margin-bottom: 20px;
            &.nav-tabs {
                border: none;
            }
            li.submenu {
                font-size: .875rem;
                background: transparent url(../img/gioithieu/submenu-bg.png) 0 0 no-repeat;
                background-size: 100% 30px;
                padding: 5px 5px 5px 10px;
                span {
                    line-height: 1.1;
                    margin-right: 15px;
                }
                & > ul {
                    padding: 10px 15px;
                    li {
                        i {
                            margin-right: 5px;
                        }
                        a {
                            color: #333;
                        }
                    }
                }
            }
        }
    } //end sidebar
}
