#news_list {
    font-size: 0.875rem;
    #list {
        h2 {
            text-transform: uppercase;
            font-size: .875rem;
            background: url('../img/noibat/heading-bg.png') no-repeat;
            border-bottom: 1px solid $service-item;
            padding: 6px 0 4px 15px
        }
        .list-item {
            margin-left: 0;
            margin-right: 0;
            font-size: .8125rem;
            padding: 25px 0;
            border-bottom: 1px dashed #cb6e28;
            h3 {
                margin-bottom: 0;
                font-size: .8125rem;
                line-height: 1.5;
                margin-top: 0px;
                text-transform: uppercase;
            }
            .col-sm-3 {
                padding-left: 0;
            }
            .col-sm-9 {
                & > a {
                    color: #333;
                    &:hover {
                        color: $main_color;
                    }
                    h3 {
                        font-weight: 600;
                    }
                }
                time {
                    font-style: italic;
                    color: #eb6c61;
                    font-size: 0.6875rem;
                }
                p a {
                    color: $main_color;
                    font-style: italic;
                    position: absolute;
                    left: 80%;
                    bottom: -15%;
                    &:hover {
                        color: #333;
                    }
                }
            }
        }
        .pagination {
            float: right;
            @media (max-width: 768px) {
                float: none;
            }
        }
    }
}
