$main_color: #2196F3;
$service_item: #ecf0f1;

/*============================
=            BASE            =
============================*/

@font-face {
    font-family: 'segoe-ui';
    src: url('../font/segoe-ui/segoeui.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'utm-micra';
    src: url('../font/utm-micra/utm-micra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

ul,
ol {
    margin-bottom: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    max-width: 1300px;
}

#map iframe {
    width: 100%;
    height: 209px;
}

iframe {
    width: 100%;
    margin: 0 auto;
}

h2,
.panel-title {
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #333;
    font-weight: bold;
}

.btn-find {
    background: transparent;
    border: 2px solid white;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.btn-login {
    padding: 1px 20px;
    background-color: #2980b9;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .26);
    border-radius: 3px/4px;
    color: white;
    font-weight: 400;
    margin: 10px 30px 0 0
}

.breadcrumb {
    margin-top: -20px;
    margin-bottom: 0;
    background: none;
    & > li a,
    & > li.active {
        color: $main_color;
    }
}

.service-item {
    font-size: .875rem;
    margin-bottom: 5 px;
    padding: 5px 15px;
    background-color: $service-item;
    &:hover {
        background-color: $main_color;
    }
    a {
        color: #333;
        &:hover {
            color: #fff;
        }
    }
    .col-sm-12 {
        padding-left: 10px;
    }
    .row {
        padding: 8px 0;
        .col-xs-9 {
            margin: 5px 0 0 -15px;
            padding-left: 0;
            padding-right: 0;
            @media (max-width: 768px) and (min-width: 480px) {
                margin: 5px 0 0 -45px;
            }
        }
    }
}

.heading-section {
    background: url('../img/noibat/heading-bg.png') no-repeat;
    border-bottom: 1px solid $service-item;
    padding: 6px 0 4px 30px;
    margin-bottom: 20px;
}

.sidebar-style {
    img {
        margin: 0 auto;
        display: block;
    }
    margin-top: 20px;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: .875rem;
        text-align: center;
        background-color: $service-item;
        padding: 10px;
    }
}

.hot-line {
    .image {
        background-color: $service-item;
        padding: 25px 20px 30px;
    }
}

.hot-line,
.photo {
    img {
        width: 100%;
        margin: 0 auto;
    }
}

aside {
    .service-item + .service-item {
        margin: 5px 0 0;
    }
    .service-item {
        margin: 20px 0 0;
        padding: 10px;
        .row {
            padding: 3px 0;
            .col-xs-9 {
                margin: 0px 0 0 -10px;
                padding-left: 8px;
            }
        }
    }
    #multimeter {
        img {
            width: 100%;
            margin: 0 auto;
        }
    }
}

.sidebar-custom {
    h2 {
        background-color: $service-item;
        padding: 8px 15px;
        text-align: center;
        text-transform: uppercase;
    }
}

.most-viewed-item {
    margin-bottom: 20px;
    .wpp-post-title {
        font-weight: 700;
    }
    a {
        color: #000;
        font-weight: 400;
        &:hover {
            color: $main_color;
        }
        font-size: .875rem;
    }
    img {
        margin-right: 5px;
    }
}

.contact {
    background-color: #272472;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    @media (max-width: 480px) {
        padding: 5px;
    }
    position: fixed;
    bottom: 5px;
    left: 8px;
    z-index: 9999;
    color: white;
    font-weight: bold;
    li {
        &:first-child {
            margin-right: 10px;
            @media (max-width: 480px) {
                margin-right: 5px;
            }
        }
        img {
            margin-right: 5px;
            margin-top: -3px;
        }
    }
}


/* DEPARTMENT */

.department {
    color: $main_color;
    background-color: $service-item;
    padding: 20px 0;
    margin-top: 30px;
    i {
        margin-right: 5px;
    }
}

s
/* PAGINATION */

.pagination {
    & > li > span {
        &.current {
            background-color: #337ab7;
            color: white;
        }
    }
    a.first,
    a.previouspostslink {
        margin-right: 10px;
    }
    a.nextpostslink,
    a.last {
        margin-left: 10px;
    }
}

@import "header";
@import "footer";
@import "home";
@import "intro";
@import "news";
@import "detail";
@import "contact";
@import "custom";
@import "gallery";
